### Months and Day of the week

In [1]:
import yfinance as yf
import pandas as pd 
import numpy as np
import calendar

# List of stock tickers
tickers = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'TSLA']

# Retrieve the stock data
stocks = yf.download(tickers, start="2010-08-01", end="2023-08-31")['Adj Close']

[*********************100%%**********************]  5 of 5 completed

In [2]:
stocks['TSLA_log_return'] = np.log(stocks['TSLA'].pct_change()+1)
stocks['AAPL_log_return'] = np.log(stocks['AAPL'].pct_change()+1)

In [3]:
stocks['MonthName'] = stocks.index.strftime('%B')
stocks['MonthNum'] = pd.to_datetime(stocks.index).month
stocks['DayofWeek'] = stocks.index.dayofweek

## Day of the Week Effect

In [4]:
df_by_day = stocks.groupby('DayofWeek',observed=False)[['TSLA_log_return','AAPL_log_return']].mean()*100
df_by_day

Ticker     TSLA_log_return  AAPL_log_return
DayofWeek
0                 0.461818         0.313371
1                 0.304228         0.154581
2                 0.056522         0.148714
3                 0.059060        -0.060960
4                -0.069025        -0.061997

## Monthly Effect

In [5]:
df_by_month = stocks.groupby('MonthName',observed=False)[['TSLA_log_return','AAPL_log_return']].mean()*100

# Reindex the DataFrame to put the months in order
month_order = [calendar.month_name[i] for i in range(1, 13)]
df_by_month = df_by_month.reindex(month_order)
df_by_month

Ticker     TSLA_log_return  AAPL_log_return
MonthName
January           0.336113         0.041017
February          0.129901         0.134716
March            -0.008758         0.133052
April             0.198968         0.042085
May               0.147508         0.098841
June              0.427565         0.031247
July              0.183002         0.345763
August            0.204776         0.174202
September        -0.073721        -0.058996
October           0.139387         0.181779
November          0.332018         0.058635
December         -0.113039        -0.048341

## Sell in May and go away

In [6]:
# Create a function to get the seasonality
stocks['Seasonality'] = pd.cut(stocks['MonthNum'], bins=[-1, 4, 10], labels=['Nov_Apr', 'May_Oct'])
# stocks['Seasonality1'] = np.where(np.logical_and(stocks['MonthNum'] >= 5, stocks['MonthNum'] <= 10), 'May_Oct', 'Nov_Apr')

In [7]:
May_Seasonality = stocks.groupby('Seasonality',observed=False)[['TSLA_log_return','AAPL_log_return']].mean()*100
May_Seasonality

Ticker       TSLA_log_return  AAPL_log_return
Seasonality
Nov_Apr             0.160904         0.087907
May_Oct             0.173526         0.130643